@model VisionBoard.Models.Measurement

@Html.Hidden("MeasurementId", Model.Id)
<div class="row">
    <div class="col-md-12">
        <div class="row p-2">
            <div class="col-md-10">
                @{
                    string progress = (Math.Round((double)(100 * Model.CurrentValue) / Model.TotalValue)).ToString() + "%";
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: @progress" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                            @progress
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-2">
                <a onclick="showInPopup('@Url.Action("Edit","Measurements",new { id = @Model.Id },Context.Request.Scheme)','Edit Mesurement')"><i class="fa-solid fa-pen-to-square text-warning"></i></a>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-md-6">
                <span class="label font-weight-bold">Completed : </span>
                <span>@Model.CurrentValue.ToString()&nbsp;@(Model.Type=="By Steps"?"Steps": Model.Unit )</span>
            </div>
            <div class="col-md-6">
                <div class="float-right">
                    <span class="label font-weight-bold">Total : </span>
                    <span>@Model.TotalValue.ToString()&nbsp;@(Model.Type=="By Steps"?"Steps": Model.Unit )</span>
                </div>
            </div>
        </div>
    </div>
</div>

